$black: #000000;
$white: #ffffff;
$background: #F7F6F3;
$orange-btn: #FEBD2C;
$orange-one: #FFC24A;
$orange-two: #FF951A;
$yellow1: #FFDB51;
$yellow2: #FFE994;
$yellow3: #FFE994;
$orange-header: #FCC55A;
$burger: #171695;
$gray: #EFEFEF;
$shad: #8e8e8e;
$pink: #FECFD5;
$red: #E3000F;
$list: #E98F03;



// Breakpoint

$desktop-bp-1200: 1200px;
$desktop-bp-992: 992px;
$tablets-bp-768: 768px;
$mobile-bp-660: 660px;
$mobile-bp-576: 576px;
$mobile-bp-480: 480px;
$mobile-bp-371: 371px;